<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708923225544-bjogve48ddor9687e8qfpi1a81vbuu0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708923225544-bjogve48ddor9687e8qfpi1a81vbuu0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBEW0dhUEJY7kGIcamCdYDoX6SOvRAUw2E</string>
	<key>GCM_SENDER_ID</key>
	<string>708923225544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quikartsapplication.app</string>
	<key>PROJECT_ID</key>
	<string>quikart-29573</string>
	<key>STORAGE_BUCKET</key>
	<string>quikart-29573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708923225544:ios:bd998243cbb675db01bcfd</string>
</dict>
</plist>